<!--Start  Footer -->
<footer class="footer-main"> Copyright &copy; 2019.Demo System All rights reserved. </footer>

<!-- 公共js -->
<script type="text/javascript" src="/static/assets/js/jquery-1.10.2.min.js"></script><!-- 通用jquery.js -->
<script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script><!-- 通用bootstrap.js -->
<script type="text/javascript" src="/static/assets/js/dialog-plus-min.js"></script><!--dialog对话框插件-->
<script type="text/javascript" src="/static/assets/js/jquery.form.js"></script><!--表单-->
<script type="text/javascript" src="/static/assets/js/jquery.validate.js"></script><!--表单验证-->
<script type="text/javascript" src="/static/assets/js/jqgrid/grid.locale-cn.js"></script><!--jqGrid表格中文注释-->
<script type="text/javascript" src="/static/assets/js/jqgrid/jquery.jqGrid.js"></script><!--jqGrid表格插件-->
<script type="text/javascript" src="/static/assets/js/chosen.jquery.min.js"></script><!-- chosen select下拉框模拟 -->
<script type="text/javascript" src="/static/assets/js/moment.js"></script><!-- 日期插件 -->
<script type="text/javascript" src="/static/assets/js/daterangepicker.js"></script><!-- 日期插件 -->
<script type="text/javascript" src="/static/assets/js/plupload-2.1.2/js/plupload.full.min.js"></script><!--文件上传-->
<script type="text/javascript" src="/static/assets/js/jgrowl/jquery.jgrowl.min.js"></script><!-- jgrowl提示框 -->

<!-- datatable -->
<script type="text/javascript" src="/static/assets/plugins/datatables/js/jquery.datatables.min.js"></script>


<!-- 左侧收起展开 -->
<script type="text/javascript" src="/static/assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/static/assets/js/functions.js"></script>

<!-- 自定义插件：文件上传、人员多选 -->
<script type="text/javascript" src="/static/assets/js/giian.core.js"></script>
<script type="text/javascript" src="/static/assets/js/smartComponent.js"></script>

<!--End footer -->