<!-- header section start-->
<div class="header-section">
	<a class="toggle-btn">
		<i class="fa fa-bars"></i>
	</a>
	<form class="searchform">
		<input type="text" class="form-control" name="keyword" value="${global_keyword}" placeholder="搜索..." />
	</form>
	<!--notification menu start -->
	<div class="menu-right">
		<ul class="notification-menu">
			<li>
				<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
					<i class="fa fa-tasks"></i>
					<span class="badge">8</span>
				</a>
				<div class="dropdown-menu dropdown-menu-head pull-right">
					<h5 class="title">You have 8 pending task</h5>
					<ul class="dropdown-list">
						<li class="notification-scroll-list notification-list ">
							<!-- list item-->
							<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="pull-left p-r-10">
										<em class="fa  fa-shopping-cart noti-primary"></em>
									</div>
									<div class="media-body">
										<h5 class="media-heading">A new order has been placed.</h5>
										<p class="m-0">
											<small>29 min ago</small>
										</p>
									</div>
								</div>
							</a>

							<!-- list item-->
							<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="pull-left p-r-10">
										<em class="fa fa-check noti-success"></em>
									</div>
									<div class="media-body">
										<h5 class="media-heading">Databse backup is complete</h5>
										<p class="m-0">
											<small>12 min ago</small>
										</p>
									</div>
								</div>
							</a>

							<!-- list item-->
							<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="pull-left p-r-10">
										<em class="fa fa-user-plus noti-info"></em>
									</div>
									<div class="media-body">
										<h5 class="media-heading">New user registered</h5>
										<p class="m-0">
											<small>17 min ago</small>
										</p>
									</div>
								</div>
							</a>

							<!-- list item-->
							<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="pull-left p-r-10">
										<em class="fa fa-diamond noti-danger"></em>
									</div>
									<div class="media-body">
										<h5 class="media-heading">Database error.</h5>
										<p class="m-0">
											<small>11 min ago</small>
										</p>
									</div>
								</div>
							</a>

							<!-- list item-->
							<a href="javascript:void(0);" class="list-group-item">
								<div class="media">
									<div class="pull-left p-r-10">
										<em class="fa fa-cog noti-warning"></em>
									</div>
									<div class="media-body">
										<h5 class="media-heading">New settings</h5>
										<p class="m-0">
											<small>18 min ago</small>
										</p>
									</div>
								</div>
							</a>
						</li>
						<li class="last">
							<a href="#">View all notifications</a>
						</li>
					</ul>
				</div>
			</li>

			<li>
				<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
					<i class="fa fa-bell-o"></i>
					<span class="badge">4</span>
				</a>
				<div class="dropdown-menu dropdown-menu-head pull-right">
					<h5 class="title">Notifications</h5>
					<ul class="dropdown-list normal-list">
						<li class="message-list message-scroll-list">
							<a href="#">
								<span class="photo">
									<img src="/static/assets/images/users/avatar-8.jpg" class="img-circle" alt="img">
								</span>
								<span class="subject">John Doe</span>
								<span class="message"> New tasks needs to be done</span>
								<span class="time">15 minutes ago</span>
							</a>

							<a href="#">
								<span class="photo">
									<img src="/static/assets/images/users/avatar-7.jpg" class="img-circle" alt="img">
								</span>
								<span class="subject">John Doe</span>
								<span class="message"> New tasks needs to be done</span>
								<span class="time">10 minutes ago</span>
							</a>

							<a href="#">
								<span class="photo">
									<img src="/static/assets/images/users/avatar-6.jpg" class="img-circle" alt="img">
								</span>
								<span class="subject">John Doe</span>
								<span class="message"> New tasks needs to be done</span>
								<span class="time">20 minutes ago</span>
							</a>

							<a href="#">
								<span class="photo">
									<img src="/static/assets/images/users/avatar-6.jpg" class="img-circle" alt="img">
								</span>
								<span class="subject">John Doe</span>
								<span class="message"> New tasks needs to be done</span>
								<span class="time">20 minutes ago</span>
							</a>

							<a href="#">
								<span class="photo">
									<img src="/static/assets/images/users/avatar-6.jpg" class="img-circle" alt="img">
								</span>
								<span class="subject">John Doe</span>
								<span class="message"> New tasks needs to be done</span>
								<span class="time">20 minutes ago</span>
							</a>

							<a href="#">
								<span class="photo">
									<img src="/static/assets/images/users/avatar-6.jpg" class="img-circle" alt="img">
								</span>
								<span class="subject">John Doe</span>
								<span class="message"> New tasks needs to be done</span>
								<span class="time">20 minutes ago</span>
							</a>
						</li>
						<li class="last">
							<a href="#">All Messages</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<img src="/static/assets/images/users/avatar-6.jpg" alt="" />
					<@shiro.principal />
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
					<li>
						<a href="#">
							<i class="fa fa-wrench"></i>
							Settings
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-user"></i>
							Profile
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-info"></i>
							Help
						</a>
					</li>
					<li>
						<a href="/security/logout">
							<i class="fa fa-lock"></i>
							退出系统
						</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
	<!--notification menu end -->

</div>
<!-- header section end-->