<!--Start left side Menu-->
<div class="left-side sticky-left-side">

	<!--logo-->
	<div class="logo">
		<a href="index.html">
			<img src="/static/assets/images/logo.png" alt="">
		</a>
	</div>

	<div class="logo-icon text-center">
		<a href="index.html">
			<img src="/static/assets/images/logo-icon.png" alt="">
		</a>
	</div>
	<!--logo-->

	<div class="left-side-inner">
		<!--Sidebar nav-->
		<ul class="nav nav-pills nav-stacked custom-nav">
		
			<li>
				<a href="/">
					<i class="icon-home"></i>
					<span>首页</span>
				</a>
			</li>

			<li class="menu-list <#if nav?contains('/system')>nav-active</#if>">
				<a href="#">
					<i class="icon-layers"></i>
					<span>系统管理</span>
				</a>
				<ul class="sub-menu-list">
					<li>
						<a href="/system/user"> 用户管理</a>
					</li>
					<li>
						<a href="/system/role"> 角色管理</a>
					</li>
					<li>
						<a href="/wechat/user"> 企业微信</a>
					</li>
	
				</ul>
			</li>
			
			<li >
			<li class="menu-list <#if nav?contains('/best')>nav-active</#if>">
				<a href="#">
					<i class="icon-layers"></i>
					<span>Best ZQ</span>
				</a>
				<ul class="sub-menu-list">
					<li <#if nav=='/best/BestContract'>class="active"</#if>>
						<a href="/best/BestContract">代理协议</a>
					</li>
					<li <#if nav=='/best/BestProject'>class="active"</#if>>
						<a href="/best/BestProject">产品信息</a>
					</li>
					<li <#if nav=='/best/TnetOrder'>class="active"</#if>>
						<a href="/best/TnetOrder">tnet周单量</a>
					</li>
					<li <#if nav=='/best/YouOrder'>class="active"</#if>>
						<a href="/best/YouOrder">优赢日单量</a>
					</li>
				</ul>
			</li>

			

			<li class="menu-list <#if nav?contains('/work')>nav-active</#if>">
				<a href="#">
					<i class="icon-envelope-open"></i>
					<span>我的工作</span>
				</a>
				<ul class="sub-menu-list">
					<li>
						<a href="/work/task"> 待办任务</a>
					</li>
					<li>
						<a href="/work/notice"> 消息提醒</a>
					</li>
					<li>
						<a href="/mongo/hotel"> 2000w</a>
					</li>
					<li>
						<a href="/mongo"> mongodb</a>
					</li>
					<li>
						<a href="/search"> ElasticSearch</a>
					</li>
				</ul>
			</li>

			
			<li>
				<a href="/static/index.html">
					<i class="icon-wrench"></i>
					<span>静态页面参考</span>
				</a>
			</li>								

		</ul>
		<!--End sidebar nav-->

	</div>
</div>
<!--End left side menu-->