<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="springboot mybatis">
<meta name="description" content="springboot demo system">
<meta name="author" content="darcy">
<link rel="icon" href="/static/assets/images/favicon.png" type="image/png">

<link rel="stylesheet" href="/static/assets/css/icons.css">
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" /> --><!-- 字体库通用样式 -->
<link rel="stylesheet" href="/static/assets/css/style.css">
<link rel="stylesheet" href="/static/assets/css/responsive.css">

<!--Begin  Page Level  CSS -->
<link rel="stylesheet" href="/static/assets/plugins/morris-chart/morris.css">
<!-- <link rel="stylesheet" href="/static/assets/js/jqgrid/css/ui.jqgrid.css" />jqgrid表格css -->
<link rel="stylesheet" href="/static/assets/js/jqgrid/css/ui.jqgrid-bootstrap.css" />
<link rel="stylesheet" href="/static/assets/css/ui-dialog.css"><!--dialog对话框样式-->
<!--End  Page Level  CSS -->


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->