<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smarthse.business.dao.system.SysRoleMapper">

	<resultMap id="BaseResultMap" type="cn.smarthse.business.entity.system.SysRole">
		<result property="id" column="ID" />
		<result property="roleCode" column="role_code" />
		<result property="roleType" column="role_type" />
		<result property="roleName" column="role_name" />
		<result property="roleDesc" column="role_desc" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="createBy" column="create_by" />
		<result property="updateBy" column="update_by" />
		<result property="isValid" column="is_valid" />
		<result property="deptId" column="dept_id" />
		<result property="isSys" column="is_sys" />
	</resultMap>


	<!-- 查询用户的角色编码列表 -->
	<select id="getUserRoleCodeList" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		SELECT a.role_code FROM sys_user c inner join sys_user_role
		b on c.id =
		b.uid and c.is_valid = 1 and b.is_valid = 1 and c.id =
		#{id}
		inner join sys_role a on a.id = b.role_id
	</select>


</mapper>

